<div class="container-page">
  <h1 class= "main-header-show"><%= @cocktail.name %></h1>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill, class: 'image_cocktail'%>
  <div>
    <p>Ingredients include:</p>
    <% @cocktail.doses.each do |dose| %>
      <p><%= dose.ingredient.name %> - <%= dose.description %> -
        <%= link_to "X", dose_path(dose), method: :delete, data: { confirm: "Are you sure you wish to delete?" } %>
      <% end %></p>
  </div>
  <div class="cards">
    <div class="card-category-show">
      <%= link_to "Let's improve #{@cocktail.name}", new_cocktail_dose_path(@cocktail) %>
    </div>
    <div class="card-category-show">
      <%= link_to "Why not make you own?", new_cocktail_path %>
    </div>
  </div>
  <p><%= link_to "Back to the main menu", cocktails_path %></p>
</div>